!!! 5
html(lang="en")
    head
        title nodeFeed
    link(rel="stylesheet", type="text/css", href="/main.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.6.min.js")
    script(type="text/javascript", src="http://cdn.socket.io/stable/socket.io.js")
    script(type="text/javascript", src="/feed.js")
    body
        #main
            #Talk
                #Head
                    #Tabs
                #Body
                    #Chat
                        ul
                #Foot
                    #Input
                        input(type="text",id="entry")
                        input(type="button",id="send")
            #Sidebar
                #Contacts
