<html>
	<head>
		<title>upload</title>
		<style> 

	</style> 
	</head>
	<body bgcolor=white>
		<p>
<script>
if(document.referrer.toString().indexOf("upload.html")!=-1){
    document.write('<p style="color:green">File Uploaded!</p>')
}
                        function previewFile(files){
                            if(files[0].type){
                                document.getElementById("type").value = files[0].type;
                                myURL = window.webkitURL.createObjectURL(files[0]);
                                if(files[0].type.indexOf("image")==0){
                                    document.getElementById("preview").innerHTML = "preview:<br><img src="+myURL+">";
                                }else if(files[0].type.indexOf("ogg")>=0){
                                    document.getElementById("preview").innerHTML = 'preview:<br><video preload="auto" src="'+myURL+'" autobuffer="autobuffer" controls="controls">';
                                }else{
                                    document.getElementById("preview").innerHTML = "preview:<br><a href="+myURL+">"+myURL+"</a>";
                                }
                            }
                        }
</script>

                    <form method="post" enctype="multipart/form-data" action="/done.html">
                        <p>Image: <input type="file" name="image" id="image" onChange="previewFile(this.files);"/></p>
                        <input type="hidden" name="type" id="type" value="" />
                        <script>
                        function fn_Query(myQS)
                        {
                        try{
                            myURL = document.location+"";
                            return myURL.match(new RegExp("\[?&]"+myQS+"=([^&]*)"))[1];
                        }catch(e){return "";}
                        }
                        document.write('<input type="hidden" name="to" value="'+fn_Query("to")+'" /><input type="hidden" name="from" value="'+fn_Query("from")+'" />');

                    </script>
                        <p><input type="submit" value="Upload" /></p>
                    </form>
</p>
<div id="preview"></div>

	</body>
</html>
